@import "~bulma/sass/utilities/initial-variables";
@import url('https://fonts.googleapis.com/css?family=Lateef|Lobster');

//own initial variables
$palegold: #c0b283;
$silk: #dcd0c0;
$paper: #f4f4f4;
$charcoal: #373737;
$tangerine: #e37222;


// the derived variables
$primary: $palegold;
$info: $paper;
$warning: $silk;
$danger: $tangerine;
$dark: $charcoal;
$link: $tangerine;
$footer-background-color: $charcoal;
$body-family: 'Lateef', cursive;
$body-size: 16px;
$body-color: $charcoal;
$section-padding: 2rem 1.5rem;
$message-background-color: $paper;
$message-body-border: 1px solid $silk;
$message-body-color: $charcoal;
$modal-close-top: 100px;

// Helper Classes
html {
  margin-top: 52px !important;
  height: 100%;
}

body {
  //height: 100%;
  display: flex;
  flex-direction: column;
}

#wrapper {
  flex: 1 0 auto;
  //margin-bottom: 52px;
}

.full-width-image-container {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 5em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top-0 {
  margin-top: 0 !important; 
}

.has-padding {
  padding: 1rem;
}

.search-box {
  & > div {
    display: inline-block;
  }
  & > div > input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  & > div > a {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; 
  }
}

.mobile-nav-menu {
  align-self: center;
  margin-left: 0 !important;
  margin-right: auto;
}

.has-bottom-border {
  border-bottom: 1px solid $palegold;
}

.has-right-border {
  border-left: 1px dotted lighten($charcoal, 15%);
  @media screen and (max-width: 768px) {
    border-left: none;
    border-bottom: 1px dotted lighten($charcoal, 15%);
  }  
}

.footer {
  padding: 1.5rem !important;
  flex-shrink: 0;
}

.footer-menu {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start; 
  max-height: 100px;
  @media screen and (max-width: 768px) {
    align-items: center; 
  }
}

.footer-menu-item {
  display: inline-block;
  font-size: 1.25rem;
  a {
    color: $silk !important;
    &:hover {
      background-color: $charcoal !important;
      color: $tangerine !important;
    }
    @media screen and (min-width: 769px) and (max-width: 840px) {
      padding: 0.5rem !important;
    }

  }
  @media screen and (min-width: 769px) and (max-width: 840px) {
    font-size: 1.125rem;
  }
}

.icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;
}

.svg-icon {
  cursor: pointer;
  &:hover {
    path {
      fill: $tangerine;
    }
  }
}

#creator {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 0.8rem;
}

#made-by {
  text-decoration: none;
  color: $tangerine;
  &:hover {
    color: darken($palegold, 5%);
  }
}

.hero-text-container {
  display: inline-block;
  padding: 1.5rem 1rem;
  background-color: rgba(220, 108, 28,.55);
  border-radius: 4px;
}

.en-title {
  font-family: 'Lobster', cursive;
  text-transform: capitalize;
  font-weight: 400 !important;
}


.contact-page {
  img {
    display: block;
  }
}

.grid-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-img {
  display: block;
  align-self: center;
  height: 200px;
  object-fit: cover !important;
  margin-bottom: 1em;
  border-radius: 4px;
  @media screen and (min-width: 500px) and (max-width: 768px) {
    max-width: 75%;
  }  
  @media screen and (max-width: 768px) {
    height: auto;
  }
}

.modal-img {
  margin-top: 4rem !important;
  @media screen and (max-width: 768px) {
    margin-top: 2rem !important;
  }
}

.blog-container {
  padding: 1.5rem !important;
}

.user-content {
  ul {
    margin-right: 2rem;
    margin-left: 1rem !important;
  }
  ol {
    margin-right: 2rem;
    margin-left: 1rem !important; 
    list-style-type: arabic-indic !important;
    list-style-type: -moz-arabic-indic !important;
  }
}

.article-bcg {
  margin-bottom: 1rem;
  border: 1px solid $silk;
  border-radius: 2px;
  padding: 0.75rem;
}

.custom-tag {
  &:not(:last-child) {
    margin-left: 0.5rem !important;
    margin-right: 0 !important;
  }
}

.tags-list {
  list-style: none !important;
  @media screen and (max-width: 768px) {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    li {
      margin-left: 1rem;
    }
  }  
}


@import "~bulma"
