@import "~bulma/sass/utilities/initial-variables";

//own initial variables
$palegold: #c0b283;
$silk: #dcd0c0;
$paper: #f4f4f4;
$charcoal: #373737;
$tangerine: #e37222;


// the derived variables
$primary: $palegold;
$info: $paper;
$warning: $silk;
$danger: $tangerine;
$dark: $charcoal;
$link: $tangerine;
$footer-background-color: $charcoal;


// Helper Classes
html {
  margin-top: 52px !important;
  height: 100%;
}

body {
  //height: 100%;
  display: flex;
  flex-direction: column;
}

#wrapper {
  flex: 1 0 auto;
  //margin-bottom: 52px;
}

.full-width-image-container {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 5em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top-0 {
  margin-top: 0 !important; 
}

.has-padding {
  padding: 0.5rem;
}

.has-bottom-border {
  border-bottom: 1px solid $palegold;
}

.has-right-border {
  border-right: 1px dotted lighten($charcoal, 15%);
  @media screen and (max-width: 768px) {
    border-right: none;
    border-bottom: 1px dotted lighten($charcoal, 15%);
  }  
}

.footer {
  padding: 1.5rem !important;
  flex-shrink: 0;
}

.footer-menu {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start; 
  max-height: 100px;
  @media screen and (max-width: 768px) {
    align-items: center; 
  }
}

.footer-menu-item {
  display: inline-block;
  font-size: 0.9rem;
  a {
    color: $silk !important;
    &:hover {
      background-color: $charcoal !important;
      color: $tangerine !important;
    }
    @media screen and (min-width: 769px) and (max-width: 840px) {
      padding: 0.5rem !important;
    }

  }
  @media screen and (min-width: 769px) and (max-width: 840px) {
    font-size: 0.8rem;
  }
}

.icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1em;
}

.svg-icon {
  cursor: pointer;
  &:hover {
    path {
      fill: $tangerine;
    }
  }
}


#made-by {
  text-decoration: none;
  color: $tangerine;
  &:hover {
    color: darken($palegold, 5%);
  }

}

.hero-text-container {
  display: inline-block;
  padding: 1.5rem 1rem;
  background-color: rgba(220, 108, 28,.55);
  border-radius: 4px;
}


.contact-page {
  img {
    display: block;
  }
}





@import "~bulma"
